body {
  background-color: rgba(177, 251, 199, 0.669);
}
#todoContainer {
  margin-top: 40px;
  width: 40rem;
  border-radius: 5px;
  background-color: rgba(149, 239, 239, 0.96);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border: black solid 2px;
}
#header {
  background-color: rgba(0, 186, 203, 0.529);
  padding: 10px;
}
h1 {
  padding: 10px;
  font-weight: 900;
  font-size: 80px;
}
h6 {
  background-color: white;
  padding: 10px;
  font-size: 30px;
}
#taskInput {
  margin: 20px;
  border-radius: 46px;
  border: 1px solid rgb(128, 128, 128);
  outline: rgba(0, 0, 0, 0);
  padding: 4px 16px;
  width: 100%;
  max-width: 400px;
  &:focus {
    border-color: green;
  }
}
#checkbox {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 512px) {
  #todoContainer {
    margin-top: 20px;
    width: auto;
  }
  h1 {
    font-size: 40px;
  }
  h6 {
    font-size: 18px;
  }
}
